.LogoText
{
  color: white;
    font-size: 22px;
}
.LogoText:hover{
  color: white;
  cursor: pointer;
}
.seperatorTitle{
    font-size: 12px;
    font-weight: 700;
    padding-left: 18px;
    margin-bottom: -5px !important
}
